<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to MaestroBoard!</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet">
</head>

<body>
    <nav class="site-header">
    <div class="nav-wrapper navWrap">
        <div id="maestroLogo"></div>
        {{!-- <img src="../public/assets/Maestro-Logo-R.png" alt="maestroLogo" id="maestroLogo"> --}}
        <a href="/" class="brand-logo"> MaestroBoard</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="board">Community Maestro Board</a></li>
            <li><a href="post">Post a note</a></li>
            <li><a href="myBoard">My Maestro Board</a></li>
        </ul>
    </div>
</nav>

    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
    <script src="index.js"></script>
</body>

</html>