

<div class="row s12 m12 l12">
    <div class="myBoardBanner teal accent "> <i class="material-icons">developer_board</i> Community MaestroBoard</div>

</div>
<div class="container">
    <div class="row">
        <div class="container sort-dropdown col s12 m6 l6">
            <select class="browser-default postSelectOptions">
                <option value="" disabled selected>Sort Posts</option>
                <option value="dateDesc">Sort By: Date - Desc</option>
                <option value="dateAsc">Sort By: Date - Asc</option>
                <option value="sell">Sort By: Criteria - Selling</option>
                <option value="buy">Sort By: Criteria - Buying</option>
                <option value="instruments">Sort By: Instrument</option>
            </select>
        </div>

        <div class="container sort-dropdown instrumentSelectHide col s12 m6 l6">
            <select class="browser-default postInstrSelectOptions">
                <option value="" disabled selected>Instrument Options</option>
                <option value="guitar">Guitar</option>
                <option value="bass">Bass</option>
                <option value="drums">Drums</option>
                <option value="percussion">Percussion</option>
                <option value="brass">Brass</option>
                <option value="woodwind">Woodwind</option>
                <option value="synthesizer">Synthesizer</option>
                <option value="studio">Studio-Equipment</option>
                <option value="dj">DJ</option>
            </select>
        </div>
        <button type="submit" class="waves-effect waves-light teal lighten-1 btn btn-large sortBtn" ><i class="material-icons left">sort</i>Sort!</button>
    </div>
</div>


<div class="container addMe">
    <div class="row s12 m3 l3 deleteMe">
        <div class=" container myBoardContainer mainBoardPosting">
        </div>
    </div>
</div>
