
    <div>
        <h1 class="center-align-header">Check Out Our Community Posts!</h1>
    </div>
        <div class="mainBoardContainer">

<div class="container ">
  <div class="row">
    <div class="col-s-4">
      <div class="card" style="background-color: transparent;">
         <img class="card-img-top" src="../assets/notecard1.png" alt="Card image" style="width: 300px; height:300px;">
        <div class="card-img-overlay text-black d-flex flex-column justify-content-center">
          <h4 class="card-title">Bologna</h4>
          <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
          <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
        </div>
      </div>
    </div>
     <div class="col-s-4 ">
      <div class="card"style="background-color: transparent;">
         <img class="card-img" src="../assets/notecard1.png" alt="Bologna"style="width: 300px; height:300px;">
        <div class="card-img-overlay text-black d-flex flex-column justify-content-center">
          <h4 class="card-title">Bologna</h4>
          <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
          <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
        </div>
      </div>
    </div>
    <div class="col-s-4 ">
      <div class="card"style="background-color: transparent;" >
         <img class="card-img" src="../assets/notecard1.png" alt="Bologna"style="width: 300px; height:300px;">
        <div class="card-img-overlay text-black d-flex flex-column justify-content-center">
          <h4 class="card-title">Bologna</h4>
          <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
          <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
        </div>
      </div>
    </div>
    <div class="col-s-4 ">
      <div class="card" style="background-color: transparent;">
         <img class="card-img" src="../assets/notecard1.png" alt="Bologna"style="width: 300px; height:300px;">
        <div class="card-img-overlay text-black d-flex flex-column justify-content-center">
          <h4 class="card-title">Bologna</h4>
          <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
          <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
        </div>
      </div>
    </div>
    <div class="col-s-4 ">
      <div class="card"style="background-color: transparent;" >
         <img class="card-img" src="../assets/notecard1.png" alt="Bologna"style="width: 300px; height:300px;">
        <div class="card-img-overlay text-black d-flex flex-column justify-content-center">
          <h4 class="card-title">Bologna</h4>
          <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
          <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
        </div>
      </div>
    </div>
    <div class="col-s-4 ">
      <div class="card" style="background-color: transparent;">
         <img class="card-img" src="../assets/notecard1.png" alt="Bologna"style="width: 300px; height:300px;">
        <div class="card-img-overlay text-black d-flex flex-column justify-content-center">
          <h4 class="card-title">Bologna</h4>
          <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
          <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
        </div>
      </div>
    </div>
    <div class="col-s-4 ">
      <div class="card" style="background-color: transparent;">
         <img class="card-img" src="../assets/notecard1.png" alt="Bologna"style="width: 300px; height:300px;">
        <div class="card-img-overlay text-black d-flex flex-column justify-content-center">
          <h4 class="card-title">Bologna</h4>
          <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
          <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
        </div>
      </div>
    </div>
  </div>
 
</div>


</div>



{{!-- 
   <div>
    <h1 class="center-align-header">Check Out Our Community Posts!</h1>
</div>
<div>
<div class="mainBoardContainer">
<div class="boardCard">
    <div class="postText">gg</div>
    <div class="pin"></div>
</div>
<div class="boardCardAlt">
    <div class="pin2"></div>
</div>
<div class="boardCardAlt2">
    <div class="pin3"></div>
</div>
<div class="boardCardAlt3">
    <div class="pin4"></div>
</div>
<div class="boardCardAlt4">
    <div class="pin5"></div>
</div>
    <div class="boardCardAlt5">
    <div class="pin6"></div>
    </div>
    <div class="boardCardAlt6">
    <div class="pin7"></div>
    </div>

</div> 
</div> --}}
