<h1>Welcome to MaestroBoard!</h1>

<lead> Are you looking for an instrument? Do you have one to sell? </lead>


<p>Well look no further than MAESTROBOARD! A site where you can find the instruments you need
  to fulfill your wildest garage-band dreams! Click the "Make a Post" button to sell your instrument, 
  or tell us about the want you want to buy. Click the "View the Board" button to see what others are 
  selling or looking to buy, use the contact information to reply to their post and snag your next great instrument!
  Happy posting and rock on!
</p>

<button type="button" class="btn btn-danger">Make a Post</button>

<button type="button" class="btn btn-danger">View the Board</button>