<div class="container mainIntroContainer">
  <div class="introImage center"></div>
  <div class="container center">
    <h1 class="introText center">Welcome to MaestroBoard!</h1>

    <lead class="introText center"> <em>Are you looking for an instrument?.. or perhaps you have one to sell?</em> </lead>
<hr>

    <p class="introText center">Well look no further than MAESTROBOARD! A site where you can find the instruments you
      need
      to fulfill your wildest garage-band dreams! Click on the "Post a note" link above to post a note to our community poster board.
       
      or . . .Click the "Community Maestro Board" link above to see what instruments are available for sale! Always remember to check 
      out the community boards daily to have a chance to snag your next great, piece of gear!
      
      Happy posting and rock on!
    </p>
  </div>


</div>