<div class="row s12 m12 l12">
    <div class="myBoardBanner teal accent "> <i class="material-icons">dashboard</i> My Maestro Board</div>

</div>
<div class="myboardForm">
    <div class="myBoardIntro">
        <p class="lead">
            Sign in below to see your personal maestro board!
        </p>

    </div>
    <div id="main_block" class="makePost">
        <form>
            <div class="form-group">
                <label for="login-useremail">Maestro Account</label>
                <input type="email" class="form-control" id="login-useremail" placeholder="youremail@example.com">
            </div>

            <div class="form-group">
                <label for="login-pass">Email Address</label>
                <input type="password" class="form-control" id="login-pass" placeholder="Enter your Maestro password">
            </div>

            <button class="btn waves-effect waves-light" type="submit" id="login-submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
        <div class="login-error"><small id="login-error-text">Account not found! Please try again.</small></div>
    </div>
</div>




<br>
<div class="container addMe">

    <div class="row s12 m3 l3 deleteMe">
        <div class=" container myBoardContainer myBoardPosting">

        </div>

    </div>
</div>