<h1 class="center-align-header">Make your MaestroBoard Post!</h1>
<br>
<br>
<div id="main_block" class="makePost">
  <form>
  <div class="form-group post-form">
    <label for="exampleFormControlInput1"> Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email Address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@example.com">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Phone Number</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="(800)555-5555">
  </div>
  <br>
  <form action="#">
    <p>
      <label>
        <input name="group1" type="radio" />
        <span>Buy an Instrument</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" type="radio" />
        <span>Sell an Instrument</span>
      </label>
    </p>
  </form>
</div>
<br>
   <div class="form-group" id="musicOpt">
    <label for="exampleFormControlSelect1">Choose the instrument from the options below:</label>
    <select class="form-control" id="exampleFormControlSelect1">
      
    </select>
  </div>
     <div class="form-group" id="musicGenre">
    <label for="exampleFormControlSelect1">Music Genre:</label>
    <select class="form-control" id="exampleFormControlSelect1">
   
    </select>
  </div>
      <div class="form-group" id="bandMate">
    <label for="exampleFormControlSelect1">Band Position:</label>
    <select class="form-control" id="exampleFormControlSelect1">
     
    </select>
  </div>
   <div class="form-group">
    <label for="exampleFormControlTextarea1">Description of instrument to buy/sell</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>

  
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
</div>


