.hide {
    display: none
}

.center-align-header {
    text-align: center;
}

.boardPage {
    border: 5px solid;
    background-image: url("/assets/corkboard.jpg");
    height: 750px;
    width: 95%;
}